body {
  margin: 0;
  background-color: #b3af27;
}

.App {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1000px;
  background-color: #e4ea3c;

  font-family: 'Open Sans', sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-left-4 {
  margin-left: 4px;
}